.fa-icon-wrapper {
  font-size: 20px;
  transform: translate(3px, -1px);
}

a {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  pointer-events: none;
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  max-height: 0px;
  overflow-y: hidden;
  transition: transform 300ms ease, max-height 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  max-height: 5000px;
  transform: scaleY(1);
  transition: transform 300ms ease, max-height 300ms ease;
}
