<div class="footer">
  <div class="row">
    <div class="col-sm-12 links">
      <a href="https://github.com/dwd-umd/comet-checker" target="_blank">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
        <span>Github</span>
      </a>
      <!-- <a
                href="XXX"
                target="_blank"
            >
                <fa-icon [icon]="['fab','medium-m']"></fa-icon>
                <span>Medium</span>
            </a> -->
      <a href="https://twitter.com/umdastronomy?lang=en" target="_blank">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        <span>Twitter</span>
      </a>
      <a href="https://twitter.com/umdastronomy?lang=en" target="_blank">
        <div style="transform: rotate(-90deg) scale(0.8); display: inline-block;">
          <fa-icon icon="space-shuttle"></fa-icon>
        </div>
        <span>NASA</span>
      </a>

      <!-- <a
                href="XXX"
                target="_blank"
            >
                <fa-icon [icon]="['fab','youtube']"></fa-icon>
                <span>Youtube</span>
            </a> -->
      <!-- <a
                href="XXX"
                target="_blank"
            >
                <fa-icon [icon]="['fab','instagram']"></fa-icon>
                <span>Instagram</span>
            </a> -->
      <!-- <a
                href="XXX"
                target="_blank"
            >
                <fa-icon icon="play-circle"></fa-icon>
                <span>Slides</span>
            </a> -->
    </div>
  </div>
</div>
