<mat-menu #childMenu="matMenu" style="position:relative">
  <div
    *ngIf="!!parentButtonRef"
    class="invisible-button-overlay"
    [ngStyle]="_invisibleButtonOverlayStyles"
    (mouseleave)="onMenuInteraction(NavActions.LEAVE_OVERLAY)"
    (mouseenter)="onMenuInteraction(NavActions.ENTER_OVERLAY)"
    (click)="onMenuInteraction(NavActions.CLICK_OVERLAY)"
  ></div>
  <span
    (mouseleave)="onMenuInteraction(NavActions.LEAVE_MENU)"
    (mouseenter)="onMenuInteraction(NavActions.ENTER_MENU)"
    (click)="onMenuInteraction(NavActions.CLICK_MENU)"
  >
    <span *ngFor="let child of menuItems; let i = index">
      <span *ngIf="!!child.children && !!child.children.length">
        <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
          <mat-icon *ngIf="!!child.icon && !child.isFA">{{ child.icon }}</mat-icon>
          <mat-icon *ngIf="!!child.icon && !!child.isFA">
            <fa-icon [icon]="child.icon"></fa-icon>
          </mat-icon>
          <span>{{ child.label }}</span>
        </button>
        <app-menu-item
          #menu
          [menuItems]="child.children"
          (emitMenuInteraction)="onMenuInteraction($event)"
        ></app-menu-item>
      </span>
      <span *ngIf="!child.children || child.children.length === 0">
        <button mat-menu-item [routerLink]="child.link">
          <mat-icon *ngIf="!!child.icon && !child.isFA">{{ child.icon }}</mat-icon>
          <mat-icon *ngIf="!!child.icon && !!child.isFA">
            <fa-icon [icon]="child.icon"></fa-icon>
          </mat-icon>
          <span>{{ child.label }}</span>
        </button>
      </span>
    </span>
  </span>
</mat-menu>
