<div [ngClass]="routeAnimationsElements">
  <div>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
  </div>
  <div [ngClass]="routeAnimationsElements">
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
    <p>
      about works!
    </p>
  </div>
</div>
