<div>
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
<div [ngClass]="routeAnimationsElements">
  <hr />
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
  <p>
    about works!
  </p>
</div>
