<span *ngFor="let item of navItems; let i = index">
  <span *ngIf="!!item && !!item.children && item?.children?.length > 0">
    <div #mainbutton class="main-button-wrapper" style="display: inline-block">
      <button
        mat-button
        #buttonTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu.childMenu"
        [routerLink]="item.link"
      >
        {{ item.label }}
      </button>
    </div>
    <app-menu-item #menu [menuItems]="item.children"></app-menu-item>
  </span>
  <span *ngIf="!item.children || item?.children?.length === 0">
    <button #mainbutton mat-button [routerLink]="item.link">
      {{ item.label }}
    </button>
  </span>
</span>
