<div
  @appLoading
  (@appLoading.start)="appLoadingNotifier($event)"
  (@appLoading.done)="appLoadingNotifier($event)"
  [class]="'theme-wrapper ' + (theme$ | async)"
>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <app-sidenav-listings (closeSidenav)="sidenav.close()"></app-sidenav-listings>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar-wrapper">
        <app-header (openSidenav)="sidenav.open()"></app-header>
      </div>
      <!-- <div
        [@testSafari]="isCLicked ? 'start' : 'finish'"
        [@routeChangeAnimations]="routeChangeState(outlet)"
        (@routeChangeAnimations.start)="routeChangeNotifier($event)"
        (@routeChangeAnimations.done)="routeChangeNotifier($event)"
        class="content-wrapper"
        [ngStyle]="{}"
      > -->
      <!-- <div class="router-content-wrapper">
        <router-outlet #outlet="outlet"></router-outlet>
      </div> -->

      <main
        class="content-wrapper"
        [@routeChangeAnimations]="routeChangeState(outlet)"
        (@routeChangeAnimations.start)="routeChangeNotifier($event)"
        (@routeChangeAnimations.done)="routeChangeNotifier($event)"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </main>

      <div class="footer-wrapper">
        <div
          class="footer-animator"
          [ngClass]="{ 'footer-animator-hide': isFooterHidden || !isAppLoaded }"
        >
          <app-footer></app-footer>
        </div>
      </div>

      <!-- <footer>
        <h2>Sticky Footer !!</h2>
        <p>... with variable height</p>
      </footer> -->

      <!-- </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
