<div
  @appLoading
  (@appLoading.start)="appLoadingNotifier($event)"
  (@appLoading.done)="appLoadingNotifier($event)"
  [class]="'theme-wrapper ' + (theme$ | async)"
>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <app-sidenav-listings (closeSidenav)="sidenav.close()"></app-sidenav-listings>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar-wrapper">
        <app-header (openSidenav)="sidenav.open()"></app-header>
      </div>

      <main
        class="animated-content-wrapper"
        [@routeChangeAnimations]="routeChangeState(outlet)"
        (@routeChangeAnimations.start)="routeChangeNotifier($event)"
        (@routeChangeAnimations.done)="routeChangeNotifier($event)"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </main>

      <div class="footer-wrapper">
        <div
          class="footer-animator"
          [ngClass]="{ 'footer-animator-hide': isFooterHidden || !isAppLoaded }"
        >
          <app-footer></app-footer>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
