@import '~@angular/material/theming';

@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $base-background-color: mat-color($primary, darker);

  a {
    color: mat-color($accent);
  }

  .main-mat-toolbar {
    // opacity: 0.2;
    // background-color: rgba(pink, 0.2);
    // background-color: rgba(mat-color($primary), 0.5);
    background-color: mat-color($primary);
  }

  mat-sidenav-container {
    mat-toolbar {
      background: mat-color($primary, lighter);

      button {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }

    .main-mat-toolbar {
      // opacity: 0.2;
      // background-color: rgba(pink, 0.2);
      // background-color: rgba(mat-color($primary), 0.5);
      background-color: mat-color($primary);
    }

    mat-sidenav {
      .mat-list-item {
        &.active {
          color: mat-color($accent, default-contrast);
          background-color: mat-color($accent) !important;

          &:hover {
            background-color: mat-color($accent, darker) !important;
          }
        }
      }
    }

    // .background-image-gradient {
    //   position: absolute;
    //   // top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   height: 20%;
    //   background: linear-gradient(to bottom, mat-color($background, background, 0) 0%, mat-color($background, background, 1) 100%);
    // }

    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);
      // background-color: rgba($base-background-color, 0.5);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);

          &:hover {
            color: mat-color($accent);
          }
        }
      }
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }

  .main-mat-toolbar {
    // opacity: 0.2;
    background-color: rgba(pink, 0.2);
    // background-color: rgba(mat-color($primary), 0.5);
    // background-color: mat-color($primary);
  }
}
