@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';
@import 'themes/candy-theme.scss';

// Do some scss reset jazz
@import 'styles-reset.scss-theme';
@import '../node_modules/normalize-scss/sass/_normalize.scss';

// Import custom-component themes
@import 'app/app.component.scss-theme';

// Implement custom component themes
@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
  @include custom-components-theme($app-theme);
}

.light-theme {
  @include angular-material-theme($app-light-theme);
  @include custom-components-theme($app-light-theme);
}

.black-theme {
  @include angular-material-theme($app-black-theme);
  @include custom-components-theme($app-black-theme);
}

.nature-theme {
  @include angular-material-theme($app-nature-theme);
  @include custom-components-theme($app-nature-theme);
}

.candy-theme {
  @include angular-material-theme($app-candy-theme);
  @include custom-components-theme($app-candy-theme);
}

//
.router-content-wrapper {
  // > * {
  //   // >*:nth-child(2) {
  //   display: block;
  //   // position: absolute;
  //   // top: 0px;
  //   // bottom: 0px;
  //   // right: 0px;
  //   // left: 0px;
  //   // min-height: 90%;
  //   // border: 10px solid red;
  //   width: 100%;
  //   // min-height: calc(100% - );
  //   // min-height:calc(100vh - #{$toolbar-height} - #{$footer-height});
  //   min-height: calc(100vh - #{$toolbar-height} - #{$footer-height});
  //   // min-height:calc(100vh - #{$footer-height});
  //   // height:calc(100vh - #{$toolbar-height} - #{$footer-height});
  //   // height:calc(100vh - #{$toolbar-height} - #{$footer-height});
  //   height: auto;
  //   // overflow: hidden;

  //   @media (max-width: map-get($grid-breakpoints, sm)) {
  //     min-height: calc(100vh);
  //   }
  // }

  // router-outlet {
  //   display: inline;
  //   height: auto;
  //   width: auto;
  //   position: absolute;
  // }

  // .footer-wrapper {
  //   min-height: $footer-height;
  //   height: $footer-height;
  //   overflow: hidden;
  // }
}

//

footer {
  width: 100%;
  height: inherit;
  background: #f2803c;
  color: white;
  padding: 0.5rem 0 1rem 0;
  > * {
    padding: 0 0 0 2rem;
  }
  h2 {
    font-size: 1.4em;
  }
}

// .info {
//   padding: 2vh 1.7vw;
// }
// .home {
//   margin: 1.7vw 0 0;
//   button.color-font {
//     color: #4d4daa;
//   }
// }
// .info-card {
//   margin: 1vh 1.7vw;
//   color: #7b2f94;
// }

// .img-bg {
//   // background: no-repeat center 65% / 35% url('assets/thecodecampus_branding.svg');
// }

// //

main {
  > *:not(router-outlet) {
    flex: 1; // child will set to an equal size inside the container
    width: 100%;
    display: block;
    position: relative;
  }
}
