@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';
@import 'themes/candy-theme.scss';

@import 'styles-reset.scss-theme';

@import '../node_modules/normalize-scss/sass/_normalize.scss';

@mixin custom-components-theme($theme) {
  //
}

.default-theme {
  @include angular-material-theme($app-theme);
  @include custom-components-theme($app-theme);
}

.light-theme {
  @include angular-material-theme($app-light-theme);
  @include custom-components-theme($app-light-theme);
}

.black-theme {
  @include angular-material-theme($app-black-theme);
  @include custom-components-theme($app-black-theme);
}

.nature-theme {
  @include angular-material-theme($app-nature-theme);
  @include custom-components-theme($app-nature-theme);
}

.candy-theme {
  @include angular-material-theme($app-candy-theme);
  @include custom-components-theme($app-candy-theme);
}

//
.router-content-wrapper {
  > * {
    // > *:nth-child(2) {
    display: block;
    // position: absolute;
    // top: 0px;
    // bottom: 0px;
    // right: 0px;
    // left: 0px;
    // min-height: 90%;
    // border: 10px solid red;
    width: 100%;
    // min-height: calc(100% - );
    // min-height:calc(100vh - #{$toolbar-height} - #{$footer-height});
    min-height: calc(100vh - #{$toolbar-height} - #{$footer-height});
    // min-height:calc(100vh - #{$footer-height});
    // height:calc(100vh - #{$toolbar-height} - #{$footer-height});
    // height:calc(100vh - #{$toolbar-height} - #{$footer-height});
    height: auto;
    overflow: hidden;
  }

  router-outlet {
    display: inline;
    height: auto;
    width: auto;
  }

  .footer-wrapper {
    min-height: $footer-height;
    height: $footer-height;
  }
}
